.navbarContainer {
  position: relative;
  z-index: 100;
}

.scrolled {
  position: fixed;
  top: 0;
  width: 100%;
}

.menu {
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 700;
}

.menuactive,
.menu:hover {
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: underline;
  font-weight: 700;
}

.logoImg {
  width: 16rem;
  height: 6rem;
  margin: 0rem;
}

.miniheader {
  background-color: #1b2e3c;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
}
.miniheader h1 {
  color: #8fbd50;
  font-size: 20px;
  font-weight: 200;
}
.miniheader ul {
  display: flex;
  gap: 15px;
  color: #dadada;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
}
.miniheader li {
  font-size: 16px;
}

.icons {
  display: flex;
  align-items: center;
  color: white;
}

a {
  text-decoration: none;
}
