.about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-left: 5%;
  margin-right: 5%;
}

.leftContainer {
  flex: 1;
  padding: 10px;
  margin: 10px;
}

.leftContainer img {
  width: 500px;
  border-radius: 10px;
}

.rightContainer {
  flex: 2;
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid black;
}

.rightContainer h3 {
  font-size: 50px;
  margin-bottom: 0;
}

.rightContainer h1 {
  font-size: 70px;
  margin-top: -35px;
}

.rightContainer p {
  margin-top: 40px;
  font-size: 18px;
  text-align: justify;
  font-weight: 600;
}

.rightContainer button {
  background-color: goldenrod;
  padding: 10px;
  float: right;
  margin-top: 20px;
  position: relative;
}

@media screen and (max-width: 1400px) {
  .rightContainer {
    flex: 1;
  }
}

@media screen and (max-width: 1000px) {
  .about {
    flex-direction: column-reverse;
  }

  .rightContainer {
    border-bottom: none;
  }
}
