.admpic {
  background-color: #003466;
  min-width: 100%;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

header h1 {
  color: #8fbd50;
  font-size: 20px;
  font-weight: 50;
}
header ul {
  display: flex;
  gap: 15px;
  color: #dadada;
}
a {
  list-style-type: none;
} 
header a {
  font-size: 16px;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background-color: #f2f2f2;
  opacity: 60%;
}
nav ul {
  display: inline-flex;
  gap: 90px;
  font-size: 20px;
  color: black;
}
.content {
  max-width: 100%;
}
.middle-section {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 130px;
}

.middle-section .box h1 {
  padding: 0 200px;
  font-size: 24pt;
  font-weight: 600;
  color: #003466;
  margin-top: 90px;
}
.middle-section .box img {
  margin-top: -30px;
}
.middle-section .box h4 {
  font-size: 12pt;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.6);
}
.middle-section .box .boxx {
  width: 70;
  min-height: 10vh;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 50px;
  margin-left: 150px;
}
.middle-section .box .boxx h4 {
  font-size: 12pt;
  font-weight: 200;
  color: rgba(0, 0, 0, 2);
}
.middle-section .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 170px;
}
.middle-section .text p {
  font-size: 13pt;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: justify;
  padding-right: 40px;
  margin-bottom: 40px;
}
.middle-section .text ul {
  margin-left: 20px;
}
.middle-section .text ul li {
  margin-bottom: 10px;
  list-style-type: disc;
  font-size: 13pt;
  line-height: 24px;
  letter-spacing: 0.5px;
  padding-right: 40px;
}
.middle-section .text .space {
  margin-top: 30px;
}
