.content6 {
  max-width: 1400px;
}
.middlesection {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 130px;
  margin-right: 80px;
}
.box {
  flex: 1;
}

.box h1 {
  padding: 0 200px;
  font-size: 24pt;
  font-weight: 600;
  color: #003466;
  margin-top: 90px;
}
.box img {
  margin-top: -30px;
}

.boxx {
  width: 120;
  min-height: 10vh;
  margin-bottom: 50px;
  background-color: #003466;
  /* border: 1px solid rgba(0, 0, 0, 0.4); */
  padding: 30px 50px;
  margin-left: 150px;
  margin-top: 20px;
  margin-bottom: 40px;
  line-height: 20px;
  letter-spacing: 0.8px;
}
.boxx1 {
  background-color: #003466;
  min-height: 10vh;
  width: 270px;
  margin-top: 70px;
  margin-left: 150px;
  margin-bottom: 150px;
  padding: 15px 23px;
  color: #e6e6e6;
  display: flex;
  justify-content: space-around;
}
.boxx h4 {
  font-size: 11pt;
  font-weight: 400;
  color: #e6e6e6;
}
.boxx1 h4 {
  font-size: 12pt;
  /* font-weight: 400; */
  color: #e6e6e6;
  margin-top: 12px;
}
.boxx1 img {
  margin-top: 2px;
}
.I {
  /* margin-right: 40px; */
  padding-left: 150px;
}
/* -----------------------------------------------------------------------*/
.boxcontainer {
  max-width: 900px;
  margin: 160px 0;
  flex: 2;
  /* background-color: aqua; */
}
.box1 {
  max-width: 600px;
  /* padding: 40px 0px; */
  /* background-color: rgb(131, 60, 60); */
  margin: 40px 0;
  margin-top: 50px;
}
.formcontainer {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 50px;
}
.formcontrol {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 15px;
  margin-bottom: 5px;
}
input,
select,
textarea {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
input:focus {
  outline-color: rgb(156, 150, 150);
}
.button_container {
  display: flex;

  justify-content: flex-end;
  margin-top: 60px;
}
button {
  background-color: #8fbd50;
  border: transparent solid 2px;
  padding: 5px 10px;
  color: white;
  border-radius: 8px;
  transition: 0.3s ease-in;
}
button:hover {
  background-color: #ccc;
  border: 2px solid #8fbd50;
  color: black;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.control {
  grid-column: 1 / span 2;
}
.control textarea {
  width: 100%;
}
