.middlesection {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 170px;
}

.box {
  flex: 1;
}

.box h1 {
  padding: 0 200px;
  font-size: 24pt;
  font-weight: 600;
  color: #003466;
  margin-top: 90px;
}
.box img {
  margin-top: -30px;
}
.box h4 {
  font-size: 12pt;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.6);
}
.boxx {
  width: 70;
  min-height: 10vh;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 50px;
  margin-left: 150px;
}
.boxx h4 {
  font-size: 12pt;
  font-weight: 200;
  /* color: black; */
  color: rgba(0, 0, 0, 2);
}
.text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 210px;
  margin-right: 110px;
  flex: 2;
}
h3 {
  margin-right: 30px;
}

.middlesection .text p {
  font-size: 14pt;
  line-height: 33px;
  letter-spacing: 1px;
  text-align: justify;
  padding-right: 10px;
  margin-bottom: 40px;
}

.middlsection {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.middlsection p {
  font-size: 13pt;
  line-height: 38px;
  letter-spacing: 1px;
  text-align: justify;
  padding-right: 150px;
  margin-bottom: 30px;
}
.flexpic {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}

.middsection {
  display: flex;
  justify-content: space-between;
  margin: 100px;
}
.middsection p {
  font-size: 13pt;
  line-height: 38px;
  letter-spacing: 1px;
  text-align-last: unset;
  padding-right: 120px;
  margin-bottom: 30px;
  flex: 2;
  text-align: justify;
}

.i1 {
  flex: 1;
}

.i1 img {
  width: 470px;
  height: 300px;
}
