.footerupper {
  background-image: url("../images/footr.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-color: #003466;
}

.footerlinkcontainer {
  display: flex;
  justify-content: space-between;
  padding: 90px;
  text-align: center;
}
.footerlink h2 {
  margin-bottom: 20px;
  color: black;
  font-weight: 600;
}
.footerlink ul li {
  font-size: 16px;
  margin-bottom: 5px;
  color: rgb(151, 151, 185);
  /* justify-content: center; */
  list-style-type: none;
}
.footrlink {
  margin-right: 120px;
}
.footrlink h2 {
  margin-bottom: 20px;
  color: black;
  font-weight: 600;
}
.footrlink li {
  list-style-type: none;
  font-size: 16px;
  margin-bottom: 5px;
  color: rgb(151, 151, 185);
}
.footericoncontainer {
  display: inline-flex;
  font-size: 32px;
  gap: 100px;
  padding-left: 270px;
  color: #003566;
  letter-spacing: 0.2rem;
  /* padding-bottom: 20px; */
}
.footericoncontainer h3 {
  font-size: 22px;
  font-weight: 400;
  color: #003566;
}

.footerlower {
  margin-top: 5px;
  background-color: #003466;
  display: flex;
  justify-content: center;
  color: #999999;
  padding: 20px;
}
