.content4 {
  max-width: 1400px;
  /* margin: 80px 0; */
}
.middlesection {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 130px;
}
.middlesection .pic {
  margin-top: 100px;
  /* margin-right: 130px;s */
}
.middlesection .x {
  margin-top: 260px;
  /* margin-left: 210px; */
}
.middlesection .icon {
  display: flex;
  gap: 100px;
  /* margin-bottom: 130px; */
  margin-left: 50px;
  text-align: center;
  color: #003465;
}
.middlesection .icon h3 {
  margin-top: 10px;
}
.middlesection .l {
  margin-left: 40px;
}
.middlesection .pic1 {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  margin-right: 5px;
}
.middlesection .pic2 {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  margin-right: 5px;
}
.middlesection .pic3 {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  margin-right: 5px;
}
.middlesection .pic4 {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  margin-right: 5px;
}
.middlesection .box h1 {
  padding: 0 200px;
  font-size: 24pt;
  font-weight: 600;
  color: #003466;
  margin-top: 90px;
}
.middlesection .box img {
  /* padding-bottom: 20px; */
  margin-top: -30px;
}
.middlesection .box h4 {
  font-size: 12pt;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.6);
}
.middlesection .box .boxx {
  width: 70;
  min-height: 10vh;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 50px;
  margin-left: 150px;
}
.middlesection .box .boxx h4 {
  font-size: 12pt;
  font-weight: 200;
  /* color: black; */
  color: rgba(0, 0, 0, 2);
}
