header {
  background-color: #406c85;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
header h1 {
  color: #8fbd50;
  font-size: 20px;
  font-weight: 200;
}
header ul {
  display: flex;
  gap: 15px;
  color: #dadada;
}
li {
  list-style-type: none;
}
header li {
  font-size: 16px;
}
